<!DOCTYPE html>
<html>

<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<link rel="stylesheet" type="text/css" href="../style.css" />
	<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="../jquery-1.8.1.min.js"></script>
	<script type="text/javascript" src="../script.js"></script>
</head>

<body>

	<div id="container">
		<h1>Tweet Friend</h1>

		<div class="section">
			<h2>Write your tweet</h2>
			<textarea id="tweet-main"></textarea>
		</div>

		<div class="section">
			<h2>Find related tags</h2>
			<a href="#" id="tweet-find-tags">find</a>
			<div id="tweet-tags">
				<a href="#">#tag-one</a> <a href="#">#tag-two</a>
			</div>
		</div>

		<div class="section">
			<h2>Find related images</h2>
			<a href="#" id="tweet-find-images">find</a>
			<div id="tweet-images">
				<a href="#">http://img-one.jpg</a> <a href="#">http://img-two.jpg</a>
			</div>
		</div>

		<a href="#" id="tweet-post">POST</a>

	</div>
	
</body>
</html>
